spring:
  datasource:
    url: jdbc:postgresql://${HOST_DB}:${PORT_DB}/${NAME_DB}
    username: ${USER_DB}
    password: ${PASSWORD_DB}
    driver-class-name: org.postgresql.Driver

  mail:
      host: smtp.gmail.com
      port: ${PORT_SMTP}
      username: ${MAIL_USERNAME}
      password: ${MAIL_PASSWORD}
      properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${PORT_REDIS}

server:
  port: ${API_PORT}

jwt:
  private.key: classpath:keys/private_key.pem
  public.key: classpath:keys/public_key.pem
  access-token-expiration: ${ACCESS_TOKEN_EXPIRATION}
  refresh-token-expiration: ${REFRESH_TOKEN_EXPIRATION}